@charset 'UTF-8';
@import "./modules/fonts";

$maxWidthContainer: 1110;
$containerPadding: 15;
$maxWidthLayout: 1920;
@import "./modules/mixins";


body{
   font-family: FuturaPT, Arial, Helvetica, sans-serif;
   font-size: toRem(20);
   line-height: 136%;
   color: #111;
   background-color: #E5E5E5;
}
// ======== HEADER =============
.header__input::placeholder{
   transition: transform .3s;
   transform-origin: 0 center;
}

.header__input:focus::placeholder{
   transform: scaleX(0);
}

.menu__sub-list._active{
   
}
